/* Headers and links 
-------------------------*/

a:link {
    color: #005b7f;
    text-decoration: none;
}
a:active {
    color: #005b7f;
    text-decoration: underline;
}
a:visited {
    color: #005b7f;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}

h1 a:link, h1 a:active, h1 a:visited {
    color: #005b7f;
    text-decoration: none;
}
h1 a:hover {
    color: #005b7f;
    text-decoration: underline;
}
h2 a:link, h2 a:active, h2 a:visited {
    color: #005b7f;
    text-decoration: none;
}
h2 a:hover {
    color: #005b7f;
    text-decoration: underline;
}
h3 a:link, h3 a:active, h3 a:visited {
    color: #005b7f;
    text-decoration: none;
}
h3 a:hover {
    color: #005b7f;
    text-decoration: underline;
}
h4 a:link, h4 a:active, h4 a:visited {
    color: #005b7f;
    text-decoration: none;
}
h4 a:hover {
    color: #005b7f;
    text-decoration: underline;
}

h1 {
    font-size: 230%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 120%;
}


/* Blocks
-----------------------*/

.block {
    margin-bottom: 20px;
    border: none;
    padding-top: 0px;
    background-color: #fff;
}

.block a:link, .block a:visited, .block a:active {
    color: #005B7F;
    text-decoration: none;
}

.block a:hover {
    text-decoration: underline;
}

.block .header {
    /* border-top: 2px solid #da5013; */
    border-top: 2px solid #e17e33;
    background: #f7f6f1;
    padding: 4px 5px 5px;
}

.block .title h2 {
    color: #35251B;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0;
}

/* My Courses block theming
-----------------------*/

.block_my_courses .welcome_area {
    margin-bottom: 15px;
}

.block_my_courses .welcome_area .profilepicture {
    display: inline-block;
    float: none;
}

.block_my_courses .welcome_area .welcome_message {
    display: inline-block;
}
.block_my_courses .activity_info {
    margin-left: 8px;
}

.block_my_courses .activity_overview {
    margin-bottom: 6px;
}

.block_my_courses .activity_overview .iconlarge {
    margin-right: 5px;
}



/* Menu
-------------------------*/



/* Course
-------------------------*/

.course-content .main {
    background: #f7f5f1;
    border: 1px solid #ddd
}

.course-content .current {
    background: #e17e33;
}

.course-content h1, .course-content h2, .course-content h3 {
    font-size: 140%;
}

h3.sectionname {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 140%;
}

.coursebox>.info>h3.coursename {
    margin-bottom: 0px;
}

.course-content .current .left.side {
  color: #fff;
}

.course-content .main .content {
    background: #fff;
}

.course-content .section-summary .section-title {
    margin-top: 0px;
}

.path-course-view .section .summary {
    padding-left: 0px;
    padding-top: 10px;
}

.path-course-view .section .summary:empty {
    display: none;
}

.course-content ul.topics li.section .summary {
    margin-left: 15px;
}

.course-content .section-summary .summarytext {
    padding-left: 15px;
    padding-top: 0px;
}

.section .activity.modtype_label.label {
    padding-left: 0px;
    margin-left: 0px;
}

.section .activity.modtype_label.label object {
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section .activity .editing_move {
    left: 5px;
}

.course-content ul.section {
    margin-bottom: 0px;
    padding-bottom: 5px;
    margin-top: 0px;
}

.course-content ul.weeks li.section, .course-content ul.topics li.section {
    margin-top: 0px;
    padding-bottom: 0px;
}

.course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
    padding-bottom: 0.1em;
}

.course-content ul.topics li.section {
    margin-top: 0px;
    padding-bottom: 0px;
    margin: 0 0 10px 0;
}

.course-content ul li.section.main {
    border-bottom: 1px solid #eee;
}

.course-content ul.weeks li.section .left, .course-content ul.topics li.section .left {
    width: 20px;
    padding-right: 15px;
}

.course-content ul.weeks li.section .right, .course-content ul.topics li.section .right {
    width: 20px;
    padding-left: 15px;
}

.mdl-right {
    padding-right: 10px;
}

/* Custom CSS
-------------------------*/
a.logo {
    background: url([[pix:theme|dsv-logo-en]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 130px;
    width: 100%;
    max-width: 730px;
}

.logo-text {
    display: none;
}

.dir-rtl a.logo {
    background: url([[pix:theme|dsv-logo-en]]) no-repeat 100% 0;
    display: block;
    float: right;
}

.navbar {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar .btn-navbar .icon-bar {
    background-color: #666;
}

.navbar .navbar-inner {
    border-color: #002f5f;
    box-shadow: none;
}

.navbar .container-fluid{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #fff;
    text-shadow: none;
}

.navbar .navbar-text{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #fff;
    text-shadow: none;
}

.navbar .navbar-text a{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #FFAF0A;
    text-shadow: none;
}

.navbar .nav>li>a{
    background-color: #002f5f;
    color: #fff;
    text-shadow: none;
}

.navbar .nav>li>a:hover{
    background-color: #fff;
    color: #002f5f;
    text-shadow: none;
}

.navbar .nav>li{
    color: #fff;
    text-shadow: none;
}

.navbar .brand {
    color: #fff;
    text-shadow: none;
}

#page-footer {
    margin-top: 20px;
    padding: 0 20px 0;
    border-top: solid 1px #d2d7dc;  
    color: #002f5f;
    line-height: 20px;
    text-align: left;
    font-size: 86%;
    padding-bottom: 10px;
    background-color: #fff;
}

.dsvlogo {
    /*margin:-20px;*/
    margin-top: -20px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #002f5f;
    height: 130px;
}

.navbar-text {
    padding-left: 15px;
}

@media(max-width: 979px) {
    .navbar-fixed-top .navbar-inner {
        padding: 0px;
    }
    .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
    .navbar {
        margin-left: 0px;
        margin-right: 0px;
    }
    .dsvlogo {
        margin-left: -20px;
        margin-right: -20px;
    }
    .navbar .brand {
        padding-left: 0px;
        margin: 0;
    }
}

@media(max-width: 767px) {
    .navbar .brand {
        padding-left: 20px;
        margin: 0;

    }
    .navbar-fixed-top .navbar-inner {
        padding: 0px;
    }
    .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
    .navbar {
        margin-left: -20px;
        margin-right: -20px;
    }
    .navbar .btn-navbar {
        margin-right: 10px;
    }
    a.logo {
        max-width: 550px;
        background-size: 550px 98px;
        height: 98px;
    }
    .dsvlogo {
        height: 98px;
        max-height: 98px;
    }
}

@media(max-width: 479px) {
    .dsvlogo {
        height: 55px !important;
        max-height: 55px;
    }
}

@media(max-width: 600px) {
    .logo-text {
        display: block;
    }
    a.logo{
        display: none;
    }
    .logo-text a{
        color: #FFF;
        font-family: Georgia, "Times New Roman", Times, serif;
        text-decoration: none;
        font-size: 1.4em;
        white-space: normal;
        line-height: 1.2;
    }
    .dsvlogo {
        height: 33px;
        max-height: 55px;
    }
    #page-footer {
        background-color: #d3d3d3;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 10px;
    }
    #page-footer b, #page-footer br{ 
        display: none}
    }
}
