/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}



.navbar .container-fluid{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #fff;
    text-shadow: none;
}

.navbar .navbar-text{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #fff;
    text-shadow: none;
}

.navbar .navbar-text a{
    background-color: #002f5f;
    /*border-bottom: 5px solid #DA5013;*/
    color: #FFAF0A;
    text-shadow: none;
}

.navbar .nav>li>a{
    background-color: #002f5f;
    color: #fff;
    text-shadow: none;
}

.navbar .nav>li>a:hover{
    background-color: #fff;
    color: #002f5f;
    text-shadow: none;
}

.navbar .nav>li{
    color: #fff;
    text-shadow: none;
}

.navbar .brand {
    color: #fff;
    text-shadow: none;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
